.custom-select {
 background: none;
  border: none;
  color: #c2c2c2;
}

.custom-select option {
  color: #2c2c2c;
}

.modal-button {
  border-radius: 40px;
  color: #2c2c2c;
  background: #f5a82b;
  border: 0;
}

.modal-close-button {
  background: #2c2c2c;
  color: #c2c2c2;
  border: 0;
}
