<h6>Chi sarà il nostro perdente?</h6>

<div class="mt-3">
  <div class="row">
    <div class="col-3">
      Jac
    </div>
    <div class="col">
      <ngb-progressbar [value]="75" style="background: #2c2c2c"></ngb-progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Tex
    </div>
    <div class="col">
      <ngb-progressbar [value]="75" style="background: #2c2c2c"></ngb-progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Luke
    </div>
    <div class="col">
      <ngb-progressbar [value]="75" style="background: #2c2c2c"></ngb-progressbar>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      Mandy
    </div>
    <div class="col">
      <ngb-progressbar [value]="75" style="background: #2c2c2c"></ngb-progressbar>
    </div>
  </div>
</div>
