{{ people | json }}

<div class="px-3 py-4" style="background: #2c2c2c">
  <app-graduatory></app-graduatory>
</div>
<div class="px-3 py-4">
  <div class="row">
    <div class="col-11">
      <select class="custom-select">
        <option>Volume 1 - 2020</option>
        <option>Volume 2 - 2021</option>
        <option>Volume 3 - 2022</option>
      </select>
    </div>
    <div class="col-1">
      <span class="badge rounded-pill bg-success">Attivo</span>
  </div>
  <app-phrase-list></app-phrase-list>
</div>
</div>
