<div class="px-5 justify-content-center">
  <div class="logo"><img src="assets/logo.svg"></div>
  <div id="content-middle">
    <form>
      <input type="text" name="username" class="form-control" placeholder="Username..." [(ngModel)]="username">
      <input type="text" name="password" class="form-control mt-3" placeholder="Password..." [(ngModel)]="password">
      <button class="btn btn-primary w-100 mt-3" (click)="login()">Login</button>
    </form>
    <div class="row">
      <a class="link col text-center">Entra come ospite</a>
    </div>

  </div>
</div>

